:root{
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Cream);
    font-family: 'Montserrat', sans-serif;
}

.product-card{
    background-color: var(--White);
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 55%;
    height: auto;
    border-radius: 15px;
}

.product-img{
    padding: 2px 2px;
    padding-bottom: 0;
}

.product-img img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.product{
    padding-right: 25px;
}

.product-type{
    letter-spacing: 4px;
    font-size: 1.2rem;
    margin-top: 32px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--Grey);
}

.product-name{
    font-family: 'Fraunces', 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top:16px;
    margin-bottom: 0;
}

.product-description{
    color: var(--Grey);
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 12px;
    word-spacing: 5px;
}

.product-current-price{
    color: var(--Green-500);
    font-family: 'Fraunces', 'Montserrat', sans-serif;
    margin-top: 25px;
    font-size: 1.8rem;
}
